@import "styles.scss";


body{
    
    background-color: $coloruno ;
    color: $colordos;
}
nav{
    color:$colordos;
}
menu{
    color: $colordos;
}
li{
    color: $colordos;
}
a{
    color: $colordos;
}
span{
    color: $colordos;
}