*{
    margin: 0;
    padding: 0;
}

/*Fin menu principal para todas las paginas*/
/*Inicio boutique de pagina home con imagenes de vinos*/

@media (max-width: 1250px) {
    .galeria {
      grid-template-columns: auto auto auto;
    }
  }
  @media (max-width: 1100px) {
    .galeria {
      grid-template-columns: auto auto;
    }
  }
  @media (max-width: 500px) {
    .galeria {
      grid-template-columns: auto;
    }
  }
.argetine {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
.contenedorArgentine {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 1vw;
  }
.img_tierra{
    width: 20vh;
}
.img_cordillera{
    width: 20vh;
}
.texto1_arg{
    font-family: 'Estonia';
}
.texto2_arg{
    font-family: 'Estonia';
    margin-left: 10em;
    margin-right: 10em;
}
/*Fin pagina de menu argentine*/
/*Inicio pagina de menu contactez-nous(CONTACTENOS)*/
.text_cont{
    border:none;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    transform: translate(400px,-40px);
}
/*Estilos para tablets*/
@media only screen and(min-width 768px ) and (max-width: 940px){
    .text_cont{
        width: 50%;
    }
}
/*Estilos para smartphones*/
@media only screen and(min-width 400px ) and (max-width: 767px){
    .text_cont{
        width: 50%;
    }
}
/*Fin pagina del menu contactez-nous*/
/*Inicio pagina del menu llamada a propos*/
.container_apropos{
    display: grid;
    background: rgb(205, 109, 109);
    width: 100%;
    border: none;
}
.container_apropos > *{
    border: none;
    display: flex;
    justify-content: center;
    align-content: center;
    color: rgb(247, 240, 240);
    margin-bottom: 5rem;
}
.header_apropos{
    grid-column: 1 /span 3;
    border: none;
}
.h1_apropos{
    border: none;
    font-size: 4rem;
    padding: 2rem;
}
.section_apropos{
    border: none;
    height: 20rem;
    align-items: center;
}
.img_apropos{
    width: 112%;
    height: auto;
}
.text_section_apropos{
    text-align: center;
    display: flex;
    margin-top: 5rem;
    margin-right: 5rem;
    margin-left: 3rem;
    font-size: 2rem;
}
@media all and (max-width:600px){
   aside,section,header{
    grid-column: 1 /span 3;
   }  
}
/*fin pagina de menu a propos*/
a {
    text-decoration: none;
    color: rgb(143, 67, 60);
    list-style: none;
    margin-left:70px;     
}
.logofooter{
    height: 6rem;
}
li .dropdown-item:hover{
    font-size: 2rem;
}
li .nav-link-pseudo:hover{
    color: rgb(173, 170, 170);
}  
