*{
    margin: 0;
    padding: 0;
}
.nav_class{
    display: flex;
    align-items: center;
}
.img_nav{
    padding: 0;
    width: 30%;
    height: 40%;
}
.menu_class{    
    padding: 0px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    list-style: none;   
}

.menu_class li{
    display: inline-flex;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color:rgb(173, 47, 38);
    list-style: none;
    margin-left:70px;     
}
.menu_search{
    margin-left:10px;
    padding: 0;
    border: none;
    background: none;
    color: rgb(173, 47, 38);
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}
.menu_cart{
    margin-left: none;
    padding: none;
    border: none;
    background: none;
    color: rgb(173, 47, 38);
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}
.menu_compte{
    margin-left: none;
    padding: 0;
    border: none;
    background: none;
    color: rgb(173, 47, 38);
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}
/*Fin menu principal para todas las paginas*/
/*Inicio boutique de pagina home con imagenes de vinos*/
.img_center{
    width: 100%;
    margin-top: 16px;
    height: 600px;
}
.boutique{
    font-family:'Estonia', cursive;
    display: flex;
    justify-content: center;
    font-size: 40px; 
}
.cepas_menu{
    border:none;
    border-radius: 20px;
    font-family: 'Estonia', cursive;
    font-size: 25px;
    padding: 10px;
    margin-left: 40px;
    display: inline-flex;
    cursor: pointer;
    position: relative;
    background: none;
}
.contenedorCepas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  
  .listaCepas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style: none;
  }
  .listacepas li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
button:hover{
    background:none;

}
.cepas_menu svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
    border-radius: 8px;
}
.cepas_menu rect{
    width: 100%;
    height: 100%;
    stroke: rgb(173, 47, 38);
    stroke-width: 5px;
    stroke-dasharray: 1000%;
    stroke-dashoffset: 1000%;
    transition: 2s ease all;
}
.cepas_menu:hover rect {
    stroke-dashoffset: 0;
}

/* a continuación grid contenedor padre como lo indica el enunciado*/
.galeria{
   width: 100%;
   gap: 10%;
   display: grid;
   grid-template-columns: auto auto auto auto;
}
@media (max-width: 1250px) {
    .galeria {
      grid-template-columns: auto auto auto;
    }
  }
  @media (max-width: 1100px) {
    .galeria {
      grid-template-columns: auto auto;
    }
  }
  @media (max-width: 500px) {
    .galeria {
      grid-template-columns: auto;
    }
  }
/* a continuación grid contenedor hijo como lo indica el enunciado*/
.caja_vinos{
    box-shadow: 0  1px 1px 0 grey, 0 1px 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: auto;
    /*margin-top: 20px;
    height: 280px;*/
}
.img_vinos{
   border: none;
   height: 35vh;
   margin: 12vh;
}
.pie{
    font-family:  Arial, Helvetica, sans-serif; 
    border:none;
    display: flex;
    justify-content: center;
}
.texto_pie{
    display: grid;
    grid-template-columns: auto auto auto;  
}
.tit_arg{
    font-family: 'Estonia',cursive;
    font-size: 2em;
    text-align: center;
}
.texto_arg{
    font-family: 'Estonia';
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 1vh;
    margin-left: 20vh;
    margin-right: 20vh;
}
.subtit_arg{
    font-family: 'Estonia';
    font-size: 1.2em;
    text-align: center; 
}
.linea{
    background: #361212;
    height: 1px;
    margin-left:17%;
    margin-right: 17%;
    margin-top: 5px;
    display: block;
}
.argetine {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
.contenedorArgentine {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 1vw;
  }
.img_tierra{
    width: 20vh;
}
.img_cordillera{
    width: 20vh;
}
.texto1_arg{
    font-family: 'Estonia';
}
.texto2_arg{
    font-family: 'Estonia';
    margin-left: 10em;
    margin-right: 10em;
}
/*Fin pagina de menu argentine*/
/*Inicio pagina de menu contactez-nous(CONTACTENOS)*/

.form_contact{
    width: 35%;
    margin: auto;
    box-sizing: border-box;
    border-radius: 5px;
    filter: brightness(95%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(-500px);
   
   /* animation: escalar 1.5s infinite alternate;*/
}
/*
@keyframes escalar{
    to{
        transform: scale(1);
    }
    from{
        transform: scale(1.05);
    }
}
*/
.contact{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    margin-bottom: 20px;
    color: brown;
}
.contact_input{
    height: auto;
    margin-bottom: 10px;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    color: brown;
    border:1px solid #d1cbd1;
    transition: all 1s;
    background: white;
    margin: 1vh; 
}
.contact_input:focus{
    width: 50%;
    font-size: 20px;  
}
.contact_input_1{
    border:1px solid #d1cbd1;
    height: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: brown;
    width: 10vw;
    height: 5vh;
    margin: 1vh;
}
.uvas_contact{
    width: 15vw;
    border-radius: 5px;
    background: white;
}
.contacto {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
.contacto_padre{
   border: none;
   display: flex;
   flex-direction: column;
   align-content: flex-end;
   transform: translate(0,-340px);
}
.contacto_hijo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.contacto_hijo svg {
    width: 5vw;
  }
.img_con{
    border: none;
    width: 10vh;
    object-fit: cover;
    transform: translate(200px);  
}
.form_contact:hover{
    filter: brightness(100%);
}
.text_cont{
    border:none;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    transform: translate(400px,-40px);
}
/*Estilos para tablets*/
@media only screen and(min-width 768px ) and (max-width: 940px){
    .text_cont{
        width: 50%;
    }
}
/*Estilos para smartphones*/
@media only screen and(min-width 400px ) and (max-width: 767px){
    .text_cont{
        width: 50%;
    }
}

/*Fin pagina del menu contactez-nous*/
/*Inicio pagina del menu llamada a propos*/
.container_apropos{
    display: grid;
    background: rgb(205, 109, 109);
    gap: 10px;
    width: 100%;
    border: none;
   /* width: 80%;
    max-width: 1000px;
    margin:auto;
    overflow: hidden;*/
}

.container_apropos > *{
    border: none;
    display: flex;
    justify-content: center;
    color: rgb(247, 240, 240);
}
.header_apropos{
    grid-column: 1 /span 3;
    border: none;

   /* background: grey;
    margin: 20px 0;*/
}
.h1_apropos{
    border: none;
    font-size: 50px;
    padding: 20px;

    /*color:#fff;
    padding: 20px 0;
    text-align: center;
    */
}
.section_apropos{
    border: none;
    height: 400px;
    /*width: 70%;
    background: #fff;
    padding: 20px;
    display: flex;
    justify-content: right;  */  

}
.img_apropos{
    width: 112%;
    height: auto;
}
.text_section_apropos{
    text-align: center;
    display: flex;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 30px;font-size: 30px;

    
}
@media all and (max-width:600px){
   aside,section,header{
    grid-column: 1 /span 3;
   }  
}
/*fin pagina de menu a propos*/
/*footer*/
.logofooter{
    height: 60px;
}
.footer_bootstrap{
    

}